/*------------------------------------------------------------------------
# Variables
------------------------------------------------------------------------*/
$rgba_5 : rgba($palette-primary_5, 0.75);
$added: darken( desaturate( $palette-primary_4, 20% ), 7%);
$added-contrast: text-contrast( $added );

/*------------------------------------------------------------------------
# Palettes
------------------------------------------------------------------------*/
.palette-primary {

	/*-----------------------------------------------
	## 1
	-----------------------------------------------*/
	.button-primary,
	.call-to-action h3,
	.table-striped > tbody > tr:nth-child(2n+1),
	.site-footer {
		background: $palette-primary_1;
		color: $text-contrast-palette-primary_1;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
	.sidebar .nav > li > a:hover,
	.sidebar .nav > li > a:focus,
	.site-header .well,
	.pager li > a {
		background-color: $palette-primary_1;
		color: $text-contrast-palette-primary_1;
	}
	#tertiary-menu,
	.navbar-default .navbar-toggle .icon-bar {
		background: $palette-primary_1;
	}
	.navbar-default .navbar-nav > li > a,
	.navbar-default .navbar-text,
	.secondary-menu li a,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #fff;
	}	
	.tertiary-menu li a,
	.site-footer .widget.well,
	.site-footer .widget.well caption,
	.site-header .widget.well caption,
	.site-header,
	.site-footer a,
	.site-footer a:hover,
	.site-footer a:focus,
	.follow-me h2 {
		color: $text-contrast-palette-primary_1;
	}
	.call-to-action h2,
	.mod-blockquote p,
	.disabled-footer .site-footer a {
		color: $palette-primary_1;
	}
	hr,
	.mod-beta {
		border-bottom: 1px solid $palette-primary_1;
	}
	.entry-title,
	.background-beta h2,
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus,
	.mod-alpha h2,
	#menu-primary .current-menu-item > a,
	.navbar-default .navbar-nav > .current-menu-parent > a {
		border-bottom: 5px solid $palette-primary_1;
	}
	.navbar-default .navbar-nav > .open > a,
	.navbar-default .navbar-nav > .open > a:hover,
	.navbar-default .navbar-nav > .open > a:focus {
		background: none;
		border-bottom: 5px solid $palette-primary_1;
		color: $text-contrast-palette-primary_1;
	}
	#reviews #comments ol.commentlist li .comment-text {
		border: 1px solid $palette-primary_1;
	}
	.navbar-default .navbar-toggle {
		border-color: $palette-primary_1;
	}

	/*-----------------------------------------------
	## 2
	-----------------------------------------------*/
	.button-primary:hover,
	.button-primary:focus,
	.button-secondary:hover,
	.button-secondary:focus,
	.pager li > a:hover,
	.pager li > a:focus {
		background: $palette-primary_2;
		color: $text-contrast-palette-primary_2;
	}
	#primary-navbar li.menu-social a i:hover,
	#menu-social li.menu-social a i:hover,
	#secondary-menu li.menu-social a i:hover,
	#tertiary-menu li.menu-social a i:hover,
	#footer-center-menu li.menu-social a i:hover {
		color: $palette-primary_2;
	}

	/*-----------------------------------------------
	## 3
	-----------------------------------------------*/
	a,
	a:hover,
	a:focus,
	#primary-navbar li.menu-social a,
	.menu-social li a i.fa-circle,
	#secondary-menu li.menu-social a,
	#tertiary-menu li.menu-social a,
	#footer-center-menu li.menu-social a {
		color: $palette-primary_3;
	}
	.site-title a,
	.site-title a:hover,
	.site-title a:focus,
	.site-description {
		color: #fff;
	}	
	.fa-inverse {
		color: $text-contrast-palette-primary_3;
	}
	.site-header .well {
		border: 1px solid $palette-primary_3;
	}
	.well .nav > li > a:hover,
	.well .nav > li > a:focus,
	.mark,
	mark {
		background: $palette-primary_3;
		color: $text-contrast-palette-primary_3;
	}

	/*-----------------------------------------------
	## 4
	-----------------------------------------------*/
	.mod-alpha {
		background: $added;
		color: $added-contrast;
		h2 {
			color: $added-contrast;
		}
	}
	.background-alpha,
	.button-secondary {
		background: $palette-primary_4;
		color: $text-contrast-palette-primary_4;
	}
	ul,
	ol,
	.link-secondary,
	.link-secondary:hover,
	.link-secondary:focus,
	.widget-title,
	caption,
	.site-header .widget.well a,
	.site-footer .widget.well a {
		color: $palette-primary_4;
	}
	.mod-blockquote,
	blockquote {
		border-left: 6px solid $palette-primary_4;
	}
	.dropdown-menu,
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
		background-color: $palette-primary_4;
	}
	.navbar-default .navbar-toggle:hover .icon-bar,
	.navbar-default .navbar-toggle:focus .icon-bar {
		background: $text-contrast-palette-primary_4;
	}

	/*-----------------------------------------------
	## 5
	-----------------------------------------------*/
	.site-content,
	.background-primary,
	.background-beta,
	.disabled-footer .site-footer,
	#boldgrid-sticky-push,
	#boldgrid-sticky-filler {
		background: $rgba_5;
		color: $text-contrast-palette-primary_5;
	}
	h1,
	h2,
	.mod-beta h3,
	.entry-title a,
	.entry-title a:hover,
	#reviews #comments ol.commentlist li .meta {
		color: $text-contrast-palette-primary_5;
	}
	&.page-template-page_home {
		.background-primary,
		.site-content {
			background: none !important;
		}
	}
	&.mce-content-body {
		background: $rgba_5;
		color: $text-contrast-palette-primary_5;
	}
	.panel-default > .panel-heading,
	.panel-body,
	.panel-footer {
		background: $palette-primary_5;
		color: $text-contrast-palette-primary_5;
	}
	.panel-default {
		border-color: $palette-primary_5;
	}
}

/*------------------------------------------------------------------------
# Additional Body Classes
------------------------------------------------------------------------*/
.palette-primary.woocommerce .color1-color,
.palette-primary.woocommerce-page .color1-color,
.palette-primary.single-product .color2-color {
	color: $palette-primary_3 !important;
}
.palette-primary.woocommerce-page .color-1-text-contrast-hover:hover,
.palette-primary.woocommerce-page .color-1-text-contrast-hover:focus {
	color: $text-contrast-palette-primary_1 !important;
}
.palette-primary.woocommerce div.product span.price,
.palette-primary.woocommerce div.product .stock {
	color: $palette-primary_3;
}
